.questsCarouselItem{
    background-color: snow;
    width: 22vh;
    margin-left: auto;
    margin-right: auto;
    margin-top:2vh;
    margin-bottom: 2vh;
    padding:2%;
    border-radius: 1vh;
    cursor: pointer;
    box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.4);
}

.questsCarouselItemTitle{
    font-family: Roboto;
    color: #363636;
    font-weight: 590;
    font-size: 2vh;
}
.questsCarouselItemIcon{
    height: 10vh;
    font-size: 10vh;
    border-radius: 1vh;
}
.questDetailModal{
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.questDetailModalHeader{
    display: flex;
    font-family: Roboto;
    color: #363636;
    flex-direction: row;
    width: 36vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
}

.questDetailModalDescription{
    display: flex;
    flex-direction: row;
    font-family: Roboto;
    color: #363636;
    width: 36vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    font-size: 2vh;
    max-height: 20vw;
    overflow-y: auto;
    word-wrap: break-word;
}
.questDetailModalTitle{
    display: flex;
    flex-direction: row;
    font-family: Roboto;
    color: #363636;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 4vh;
    overflow-y: auto;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.questDetailModalIcon{
    display: flex;
    flex-direction: row;
    color: #363636;
    margin-bottom: auto;
    margin-top: auto;
    height: 7vh;
    overflow-y: auto;
    word-wrap: break-word;
}

.createQuestModal{
    display: flex;
    flex-direction: column;
    width: 70vw;
    align-items: center;
}
.createQuestModalText{
    font-family: Roboto;
    color: #363636;
    margin:2vh;
}

.createQuestModalName{
    width: 55vw;
    margin-bottom:2vh;
    margin-left: auto;
    margin-right: auto;
    border:none;
    padding:1vh;
    border-radius:0.5vh;
    -webkit-box-shadow:inset 0 0 10px #000;
    -moz-box-shadow:inset 0 0 3px #000;
         box-shadow:inset 0 0 3px #000;
}

.createQuestModalDescription{
    width: 55vw;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    border:none;
    border-radius:0.5vh;
    padding:1vh;
    -webkit-box-shadow:inset 0 0 3px #000;
    -moz-box-shadow:inset 0 0 3px #000;
         box-shadow:inset 0 0 3px #000;

}


.createQuestModalButton{
    padding: 1vh;
    display: flex;
    vertical-align: center;
    text-align: center;
    cursor: pointer;
    align-items: center;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
    border-radius: max(10vw, 10vh);
    text-align: center;
    border:none;
    margin:2vh;
    margin-right: 2vw;
    font-weight: bold;
    color:white;
    font-size: 2vh;
}

.createQuestModalButton .material-icons{
    margin: auto;
    color:white;
    font-size: min(3vw, 3vh);
}

.createQuestModalButtons{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.createQuestModalHeader{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.createQuestModalInputs{
    display: flex;
    flex-direction: column;
}

.createQuestModalIcon img{
    height: 17vh;
}
.createQuestModalIcon{
    margin-right: 2vh;
}

.playersQuestList{
    width: 90%;
    max-height: 40vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    margin-top: 2vh;
    overflow: auto;

}
.playerCheckbox{
   height: 3vh;
   width: 3vh;
   border-radius: 3vh;
   border:none;
}

.questsCarouselItemIcon:hover{
    background-color: rgb(189, 189, 189);
    opacity: 0.7;
}